/* Element Selectors */
body {
    margin-bottom: 7%;
    background-image: linear-gradient( #990033, #31131d);
}
a {
    color: white;
}

/* ID Selectors */

#content {
    margin: 10% auto;
    /* border: 2px solid black; */
    /* box-shadow: 12px 9px 7px black; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 7px;
    color: white;
}

#title {
    margin: 15% auto;
}

#eye-catcher {
    width: 30%;
    margin: auto;
}

#carouselWithIndicators {
    box-shadow: 12px 9px 7px black;
}



/* Class Selectors */
.jumbotron {
    background-image: linear-gradient(to bottom right, #990033, #31131d);
    box-shadow: 12px 9px 7px black;
    
}

.btn-lg {
    margin-top: 5%;
    background-image: linear-gradient(to bottom, #3f1d27, #522527, #88304e);
    border: 1px solid black;
}

.card {
    border: 2px solid black;
    box-shadow: 7px 5px 3px black;
    background-image: linear-gradient(to bottom right, #990033, #31131d);
}

/* lightest to darkest
88304e
522546
311d3f */